.Weather_cloud {
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.Cloud-num {
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  display: inline;
  font-size: 30px;
}

.Faherenit {
  color: #70757a;
  text-decoration: none;
}

.Faherenit:hover {
  text-decoration: none;
}

.weather_img {
  height: 64px;
  width: 64px;
}

.Temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -32px;
}

ul {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 5px;
  padding-top: 9px;
  position: relative;
  top: 15px;
  list-style: none;
}

.Temp-1 {
  color: #202124;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.58;
  margin: 0 auto;
  border-bottom: 3px solid #fbbc04;
}

.Country {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}

.Day.express {
  color: #70757a;
  font-size: 16px;
}

.Climate {
  position: relative;
  top: -80px;
  left: 190px;
}

.Conditions {
  position: relative;
  top: -30px;
}

.Weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  max-height: 250px;
  border-radius: 10px;
}

.weather_cloud {
  position: relative;
  top: -10px;
  left: 100px;
}
